<body>
<img src="images/orange.jpg" style="position: absolute; object-fit: cover">

<div class="page">
    <div class="background"></div>

    <div class="card-started" id="home-card">
    <div class="page">
    <!--
        Profile
    -->
    <div class="profile">

        <!-- profile image -->
        <div class="slide" style="background-image: url(/images/orange.jpg);"></div>

        <!-- profile photo -->
        <div class="image">
            <img src="images/profile.jpeg" alt="">
        </div>

        <!-- profile titles -->
        <div class="title">Kamil Gumienny</div>
        <div class="subtitle">Computer Science WPI Class of 2020</div>

        <!-- profile socials -->
        <div class="social">
            <a target="_blank" href="https://github.com/kmgumienny"><span class="fab fa-github"></span></a>
        </div>

        <!-- profile buttons -->
        <div class="lnks">
            <a href="#" class="lnk">
                <span class="text">Download CV</span>
                <span class="ion ion-archive"></span>
            </a>
            <a href="#" class="lnk discover">
                <span class="text">Contact Me</span>
                <span class="arrow"></span>
            </a>
        </div>

    </div>

</div>
    </div>
</div>
</body>